html
    head
    body
        div
            h1 Add a New User
        form(id="myForm", method='POST', action='/createNewUser')
            div
                label(for='firstName') first Name
                input(id='firstName', name='firstName')
            div
                label(for='lastName') last Name
                input(id='lastName', name='lastName')
            div
                label(for='email') Email
                input(id='email', name='email')
            div
                label(for='age') Age
                input(id='age', name='age', type='number')
            div
                input(type='submit', value='Add User')
            div
                a(href="/user") See all the Users
            div
                a(href="/search") Search for a user